body {
  font-family: 'Space Grotesk', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.active-link {
  background-color: rgba(19, 236, 200, 0.2);
  border-left: 4px solid #13ecc8;
}